@model FundMeUpMVC.Models.BackerModel
@{
    ViewData["Title"] = "AllBackers";
}

<h2> A list of All Backer's </h2>
<br />
<table id="resultTable" border="1"
       style="color: black;background-color: goldenrod "
       cellpadding="1" cellspacing="1">
    <tr>
        <th>Όνομα	</th>
        <th>Επώνυμο</th>
        <th>Ιδιότητα</th>
        <th>Διεύθυνση</th>
        <th>Email</th>
    </tr>
    @{ foreach (var backer in Model.Backers)
        {
            <tr id="cusTable@(backer.Id)">
                <td> @backer.FirstName</td>
                <td> @backer.LastName</td>
                <td> @backer.Profession</td>
                <td> @backer.Address</td>
                <td> @backer.Email</td>
                <td> <a href="#" onclick="deleteBacker(@backer.Id)"> Delete</a></td>
            </tr> 
            } 
        }
</table>

<script src="~/js/all-backers.js"></script>
