@model FundMeUpMVC.Models.BackerModel
@{
    ViewData["Title"] = "AllBackers";
}
    <h1 style="text-align:center; font-family:Georgia;">A list of All Backer's</h1>
<br>
<table id="resultTable" border="1" class="table table-sm" cellpadding="1" cellspacing="1">
    <tr>
        <th >Όνομα	</th>
        <th >Επώνυμο</th>
        <th >Ιδιότητα</th>
        <th >Διεύθυνση</th>
        <th >Email</th>
    </tr>
    @{ foreach (var backer in Model.Backers)
        {
        <tr id="cusTable@(backer.Id)">
            <td> @backer.FirstName</td>
            <td> @backer.LastName</td>
            <td> @backer.Profession</td>
            <td> @backer.Address</td>
            <td> @backer.Email</td>
            <td>
                <button type="button" class="btn btn-danger" onclick="deleteBacker(@backer.Id)">Delete</button>
                <a class='btn btn-warning' href='/Backer/BackerPage/@backer.Id'><span><i class='fa fa-edit'></i></span></a>
            </td>
        </tr>
        }
    }
</table>

<script src="~/js/all-backers.js"></script>
