@model FundMeUpMVC.Models.BDashboardViewModel
@using X.PagedList.Mvc.Core
@using X.PagedList.Mvc.Bootstrap4.Core
@using X.PagedList;


@{
    ViewData["Title"] = "Dashboard";
}

<style>
    .dh-card {
        border: 2px solid #cbcbcb;
        color: #a8a1a1;
        background-color: #2f2f2f;
        padding: 2em;
        margin-top: 20px;
    }
    .bprof-card {
        border: 2px solid #fff;
        color: #2f2f2f;
        background-color: rgba(105, 174, 178, 0.1);
        padding: 2em;
    }
    .dh-uimg {
        max-height: 50px;
        max-width: 50px;
        float: left;
    }
    .bdash-title {
        color: #1d5797;
        margin-top: 22px;
    }
    .welc h3 {
        color: #1b6ca9;
    }
    .table {
        border-collapse: collapse;
        width: 100%;
        table-layout: fixed;
        margin-top: 10px;
        background-color: rgba(56, 128, 171, 0.2);
    }

    th, td {
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #cbdbf4
    }

    th {
        background-color: rgba(51, 149, 222, 0.20);
        color: white;
    }
</style>
<div id="content">
    <div class="welc">
        <h3>Welcome back, @Model.Backer.FirstName @Model.Backer.LastName</h3>
    </div>
    <hr/>
    <div class="row" style="margin-top:30px">
        <div class="col-md-8">
            <div class="card bprof-card text-black-50">
                <div class="row text-center">
                    <div class="col-md-4">
                        <a href="/Home/Categories">
                            <span class="fa-stack fa-3x">
                                <i class="fas fa-circle fa-stack-2x text-secondary"></i>
                                <i class="fas fa-briefcase fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <h5>Explore Projects</h5>
                    </div>
                    <div class="col-md-4">
                        <a href="/Project/RecentProjects">
                            <span class="fa-stack fa-3x">
                                <i class="fas fa-circle fa-stack-2x text-primary"></i>
                                <i class="fas fa-external-link-square-alt fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <h5>Recent Projects</h5>
                    </div>
                    <div class="col-md-4">
                        <a href="/Project/TrendingProjects">
                            <span class="fa-stack fa-3x">
                                <i class="fas fa-circle fa-stack-2x text-warning"></i>
                                <i class="fas fa-chart-area fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                        <h5>Famous Projects</h5>
                    </div>
                </div>
            </div>
            <div class="bdash-title">
                <h4>Your Fundings</h4>
            </div>
            <div class="card" style="margin-top:22px">
                <div class="card-header text-info">
                    @Model.BackerProjects.Count Fundings
                </div>
            </div>
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Project
                        </th>
                        <th>
                            Reward
                        </th>
                        <th>
                            Fund
                        </th>
                        <th>
                            Status
                        </th>
                        <th style="width:30%">
                            Date of Funding
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.BackerProjects)
                    {
                        <tr>
                            <td>
                                <a href="/Project/Project/@item.ProjectId"> @Html.DisplayFor(modelItem => item.Project.Name) </a>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Reward.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Fund)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DoF)
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @Html.PagedListPager(Model.BackerProjects, page => Url.Action("Dashboard",
                new { page }), Bootstrap4PagedListRenderOptions.ClassicPlusFirstAndLast)

        </div>
        <br />

        <div class="col-md-4">
            <div class="card bprof-card text-black-50">
                <img src="https://www.flightonmobile.com/assets/images/user.png" alt="user image" class="img-responsive img-rounded dh-uimg">

                <p>@Model.Backer.FirstName @Model.Backer.LastName</p>
                <p>@Model.Backer.Email</p>
                
                <a class="btn btn-info" href="/Backer/BackerPage/@Model.Backer.Id"><span>Profile <i class="fa fa-edit"></i></span></a>

            </div>

            <div class="card dh-card">
                <div class="card-heading" style="text-align:center;">
                    <h3 >Summary</h3><br />
                
                    Name         : @Model.Backer.FirstName @Model.Backer.LastName <br />
                    Profession   : @Model.Backer.Profession <br />
                    Total Funding: @Model.BackerProjects.Count<br />
                   
                </div>
            </div>
        </div>
    </div>
</div>

<script >

    if (localStorage.length == 0) {
        console.log("fortose")
        location.href= "/Home/Index"
    }
</script>